*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/
notes*

# Berkshelf
.vagrant
/cookbooks
Berksfile.lock

# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml

# a directory I created to look at all the different storage options
DBproperties/